/*********************

Authors:
	Gareth Williams

Stylesheet:
	Variables stylesheet

*********************/

// colours
$black: #000;
$white: #fff;
$background-color: #fbfbfb;
$footer-color: #666;
$table-border: #787878;
$tr-background: #ddd;
$error: #cd2020;
$buy_now_btn: #000066;
$input_border: #999;